@import "./_normalize.scss";
@import "./_mixins.scss";
@import "./_var.scss";

html,body{
  background-color:$dark_gray;
}

$border: 1px solid #CCC;
div{
    border:$border;
    @include box-sizing(border-box);
  }
.body{
  width:800px;
  margin:20px auto;
  background-color:#FFF;
  padding:30px;

}
.header{
  padding-left:220px;
  position:relative;
  border-width:3px;
  border-bottom:none;
  border-top-left-radius:15px;
  border-top-right-radius:15px;
  &:before{
    content:"";
    background:url(../images/mad-lib-happy-face.png) center center no-repeat;
    background-size: 120px 120px;
    width:140px;
    height:140px;
    position:absolute;
    top:0;
    left:0;
     border-right:$border;
  }
  h1{
    @include box-sizing(border-box);
    position:relative;
    line-height: 60px;
    font-size:60px;
    padding-top:80px;
    margin:0;
  &:before{
    content:"";
    background:url(../images/ng-mad-libs-logo.png) no-repeat;
    background-size: contain;
    width:460px;
    height:80px;
    position:absolute;
    top:0;
    left:40px;
  }
  }
}
.input-area{
  @include clearfix;
  border-bottom:none;
  border-left-width:3px;
  border-right-width:3px;
  padding:20px;
  background-color: $light_pale_blue;
  h2{
    margin:20px 0 15px;
  }
  .left,.middle,.right{
    float:left;
    width:33.33333%;
    text-align:center;
    border:none;
  }
  input{
    width:200px;
    margin:5px 0;
    padding:5px;
    line-height:15px;
    border:1px solid #000;
  }
}
.content{
 background-color:$light_pale_green;
 border-width:3px;
 border-top-width:1px;
 border-bottom-left-radius:15px;
  border-bottom-right-radius:15px;
}

p{
  line-height: 2em;
  margin:20px;
}
.blank.ng-binding{
  color:$blue;
  border-bottom:1px solid $gray;
  min-width:150px;
}