<!doctype html>
<html lang="en" ng-app="">
<head>
	<meta charset="UTF-8">
	<title>MadLibs Game</title>
	<link rel="stylesheet" href="css/style.css">
</head>
<body ng-init="female_name='female name';job_title='job title';tedious_task='tedious task';dirty_task='dirty task';celebrity='celebrity';useless_skill='useless skill';obnoxiuous_celbertity='obnoxiuous celbertity';huge_number='huge number';adjective='adjective'">
	<section class="body">
		<div class="header">
			<h1>Automate This!</h1>
		</div>
		<div class="input-area">
			<h2>Provide the following words:</h2>
			<div class="left">
				<input type="text" name="" value="" placeholder="female name" ng-model="female_name">
				<input type="text" name="" value="" placeholder="job title" ng-model="job_title">
				<input type="text" name="" value="" placeholder="tedious task" ng-model="tedious_task">
			</div>
			<div class="middle">
				<input type="text" name="" value="" placeholder="dirty task" ng-model="dirty_task">
				<input type="text" name="" value="" placeholder="celebrity" ng-model="celebrity">
				<input type="text" name="" value="" placeholder="useless skill" ng-model="useless_skill">
			</div>
			<div class="right">
				<input type="text" name="" value="" placeholder="obnoxiuous celbertity" ng-model="obnoxiuous_celbertity">
				<input type="text" name="" value="" placeholder="huge number" ng-model="huge_number">
				<input type="text" name="" value="" placeholder="adjective" ng-model="adjective">
			</div>
			
		</div>
		<div class="content">
			<p>
				<span class="blank">{{female_name}}</span> was a <span class="blank">{{job_title}}</span> who loved technology. Although she loved parts of her job, she absolutely hated  <span class="blank">{{tedious_task}}</span> and <span class="blank">{{dirty_task}}</span>. So, <span class="blank">{{female_name}}</span> met with her life mentor <span class="blank">{{celebrity}}</span> who told her to learn how to <span class="blank">{{useless_skill}}</span> with Thinkful. Thinkful didn't offer a course on <span class="blank">{{useless_skill}}</span> so she studied programming instead. 
			</p>
			<p>
				What a great decision! With her new skills, <span class="blank">{{female_name}}</span> built a(n) <span class="blank">{{adjective}}</span> robot named <span class="blank">{{obnoxiuous_celbertity}}</span> that not only loved <span class="blank">{{dirty_task}}</span> but did it <span class="blank">{{huge_number}}</span> faster. 
			</p>
		</div>
	</section>
<script type="text/javascript" src="libs/angular.js"></script>
<script type="text/javascript" src="js/script.js"></script>
</body>
</html>
